<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOLA</h1>

    <div class="container">
        <div class="categoria">
            <div class="categorianame">

            </div>
        </div>
        <div class="faq">
            <div class="faqdescripcion">
                
            </div>
        </div>
    </div>

    <!--
        
    <script>
        $(function(){

            $.ajax({ url: "http://127.0.0.1:8000/FAQ_model/departamento/", 
            type: "GET", 
            headers: { Authorization: "token e3517f637886c7c74aaba0d4f7f4b02cbd86d8e4" }, 
            async: !1 }).done(function(departamento){
                console.log(departamento)
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            $.ajax({ 
                type: 'GET', 
                url: 'http://127.0.0.1:8000/FAQ_model/departamento/',
                headers: { Authorization: "token e3517f637886c7c74aaba0d4f7f4b02cbd86d8e4" }, 
                data: { get_param: 'value' },
                dataType: 'json',
                success: function (data) { 
                    var names = data
                    $('#cand').html(data);
                    console.log(data)
                }
            });
        });
    </script>

    <script>
        $.ajax({ 
            type: 'GET', 
            url: 'http://127.0.0.1:8000/FAQ_model/departamento/',
            headers: { Authorization: "token e3517f637886c7c74aaba0d4f7f4b02cbd86d8e4" }, 
            data: { get_param: 'value' }, 
            dataType: 'json',
            success: function (data) { 
                $.each(data, function(index, element) {
                    $('body').append($('<div>', {
                        text: element.name
                }));
            });
        }
    });
    </script>

    <script>

    $(document).ready(function () {
            $.ajax({ 
            type: 'GET',
            url: 'http://127.0.0.1:8000/FAQ_model/departamento/',
            headers: { Authorization: "token e3517f637886c7c74aaba0d4f7f4b02cbd86d8e4" }, 
 
            success: function (departamento) {
                $.each(departamento, function(index, element) {
                        departamento.map(function(departamento) {
                            return departamento.map
                        }).join('');

            });
        }
    });
});
    </script>
        -->

<!--

<script>
    $.ajax({
  url: "http://127.0.0.1:8000/FAQ_model/departamento/",
  type: "GET",
  dataType: "json",
  headers: { Authorization: "token e3517f637886c7c74aaba0d4f7f4b02cbd86d8e4" },
}).done(function(departamento){
    console.log(departamento)
})
</script>

<script>
    $(document).ready(function () {
        $.ajax({ 
        type: 'GET',
        url: 'http://127.0.0.1:8000/FAQ_model/departamento/',
        headers: { Authorization: "token e3517f637886c7c74aaba0d4f7f4b02cbd86d8e4" }, 

        success: function (departamento) {
            $.each(departamento, function(index, element) {
                $('body').append($('<div>', {
                    text: departamento
                }));
            });
        }
    });
});
</script>

-->

<!--

------------------------------------------------------


<script>
    $(document).ready(function(){

	// Ajax request to retrive data
	function showData(){
		$.ajax({
			url:"http://127.0.0.1:8000/FAQ_model/departamento/",
            headers: { Authorization: "token e3517f637886c7c74aaba0d4f7f4b02cbd86d8e4" },
			method:"GET",
			dataType: "json",
			success: function(data){
				//console.log(data);

			},
		});
	}})
	showData();
</script>



<script>
        $(document).ready(function () {
        $.ajax({ 
            url: "http://127.0.0.1:8000/FAQ_model/departamento/",
            headers: { Authorization: "token e3517f637886c7c74aaba0d4f7f4b02cbd86d8e4" },
            type: "GET", 
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: $("#valor").serialize(), 
                success: function(data){
          $("#respuesta").html(data);
                }

  })
});

</script>
<div id="respuesta"></div>
-->

<!--
    <script>
    function petTemplate(data) {
        console.log(data.categoria)
  return `
    <div class="animal">
    <img class="pet-photo" src="${data}">
    <h2 class="pet-name">${data.categoria} <span class="species">(${data.id})</span></h2>
    <p><strong>FAQ:</strong></p>
    </div>
  `;
}

    $(document).ready(function () {
        $.ajax({ 
            url: "http://127.0.0.1:8000/FAQ_model/categoria/",
            headers: { Authorization: "token e3517f637886c7c74aaba0d4f7f4b02cbd86d8e4" },
            type: "GET", 
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: { get_param: 'value' }, 
            async: !1 }).done(function(data){
                document.getElementById("app").innerHTML = `
  <h1 class="app-title">Departamentos (${data.categoria} results)</h1>
  ${data.map(petTemplate).join("")}
  <p class="footer">These ${data.length} departamentos were added recently. Check back soon for updates.</p>
`;
            })
        });
</script>
-->
<!--
<script>
    function petTemplate(data) {
        console.log(data.categorias.join(""))
  return `
    <div class="animal">
    <img class="pet-photo" src="${data}">
    <h2 class="pet-name">${data.departamento} <span class="species">(${data.id})</span></h2>
    <p><strong>FAQ:</strong></p>
    </div>
  `;
}

    $(document).ready(function () {
        $.ajax({ 
            url: "http://127.0.0.1:8000/FAQ_model/departamento/",
            headers: { Authorization: "token e3517f637886c7c74aaba0d4f7f4b02cbd86d8e4" },
            type: "GET", 
            dataType: "json",
            contentType: "text/html;charset=UTF-8,application/json",
            data: { get_param: 'value' }, 
            async: !1 }).done(function(data){
                console.log(data)
                document.getElementById("app").innerHTML = `
  <h1 class="app-title">Departamentos (${data} results)</h1>
  ${data.map(petTemplate).join("")}
  <p class="footer">These ${data.length} departamentos were added recently. Check back soon for updates.</p>
`;
            })
        });
</script>

<script>
    var e = $("body");
    $(function(){
        $.ajax({ url: "http://127.0.0.1:8000/FAQ_model/faqtest/", 
            type: "GET", 
            headers: { Authorization: "token cc6d5f11164c86dbebe3f68c8e84a08d0f82e0ff" }, 
            async: !1 }).done(function(departamento){
                var a = "";
                0 < e.length && ((a += '<div class="app">'),
                $.each(departamento, function(index, element) {
                    console.log(departamento)
                    $('body').append($('<div>', {
                        text: element.name
                }));
            }));
        })
    })
</script>
-->


<script>
        function petTemplate(departamentos) {

  return `
    <div class="animal">
    <img class="pet-photo" src="${departamentos}">
    <h2 class="pet-name">${departamentos.departamento} <span class="species">(${departamentos.id})</span></h2>
    <h2 class="pet-name">${departamentos.faq[0].titulo} <span class="species">(${departamentos.id})</span></h2>
    <p><strong>FAQ:</strong></p>
    </div>
  `;
}

    $(function(){
        $.ajax({ 
            url: "http://127.0.0.1:8000/FAQ_model/faqtest/",
            headers: { Authorization: "token cc6d5f11164c86dbebe3f68c8e84a08d0f82e0ff" },
            type: "GET", 
            dataType: "json",
            contentType: "text/html;charset=UTF-8,application/json",
            data: { get_param: 'value' },
            async: !1 }).done(function(departamento){
                departamento.forEach(departamentos =>{
                    console.log(departamentos)
                    document.getElementById("app").innerHTML = `
  <h1 class="app-title">Departamentos (${departamentos.departamento.length} results)</h1>
  ${departamento.map(petTemplate).join("")}
  <p class="footer">These ${departamento.length} departamentos were added recently. Check back soon for updates.</p>
`;
            });        
        })
    })
</script>






<div id="app"></div>

</body>
</html>